.login-page__content {
  border: 1px solid red;
  width: 350px;
  height: 350px;
}
.login-page__content input {
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
  height: 45px;
  background: #f8f8f8;
  color: #767676;
  border: none;
  border-radius: 10px;
  font-size: 11pt;
}
.login-page__content input:focus {
  color: var(--black-color);
  outline: none;
  border: 1px solid var(--black-color);
}
.login__password-input {
  position: relative;
}
.login__enter-btn {
  width: 100%;
  height: 40px;
  background: var(--black-color);
  color: #fff;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  margin: 10px 0;
}
.no-account-btn {
  width: 100%;
  height: 40px;
  background: #fff;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  margin: 10px 0;
}
.no-account-btn:hover {
  border: 1px solid var(--black-color);
}
