.pages-wrapper {
  width: 1280px;
  height: 768px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.right-part__container {
  width: 50%;
  height: 100%;
  border: 1px solid red;
  text-align: center;
  position: relative;
}

.main-img__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.main-img {
  width: 420px;
  height: 580px;
}
